{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container mt-5">
    <div class="mb-3">
        <a href="/articles">
            <button type="button" class="btn btn-primary">Go Back</button>
        </a> 
    </div>
    <h1> Article Name : {{ article.name }} </h1>
    <p> Article Price : {{ article.price }} </p>
</div>
{% endblock %}
